.contact{
    background: var(--colorBlue);
    height: fit-content;
    width: 100%;
    padding: 40px 30px 60px 30px;
    color: #fff;
}

.icon-contact-container{
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 20px;
    margin-top: 20px;
}
