nav{
    padding: 18px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}

nav.active{
    background: #fff;
    box-shadow: 0px 2px 15px #eaeaea;
}

.side-icon{
    position: fixed;
    top: 7%;
    left: 6%;
    cursor: pointer;
    z-index: 99;
}

.dark-mode{
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 15px #c2c2c2;
}

.navbar-left ul li{
    list-style: none;
    margin-left: 30px;
    padding: 10px 18px;
    position: relative; 
    transition: .3s;  
}

.navbar-left ul li.active::before{
    content: '';
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    border-radius: 10px;
    height: 3.2px;
    background: var(--colorBlue);
    opacity: 1;
    transition: .3s; 
    animation: navActive .3s 1;
}

@keyframes navActive {
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}

.navbar-left ul li a{
    color: #7a7a7a;
    font-weight: 500;
    transition: .3s;
    white-space: nowrap;
}

.navbar-left ul li.active a{
    color: var(--colorBlue);
}

.navbar-left ul li a:hover{
    color: var(--colorBlue);
}


.image-container{
    background: var(--colorBlue);
    display: flex;
    justify-content: center;
    max-width: 250px;
    width: 60%;
    overflow: hidden;
    border-radius: 100%;
}

.main-hero{
    max-width: 500px;
}

.main-row-hero{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: center;
}

.hero-paragraph{
    text-align: center;
    margin-top: 20px;
}

@media screen and (min-width : 768px) {
    .side-icon{
        top: unset;
        left: unset;
        bottom: 7%;
        right: 6%;
    }
    .special-margin{
        margin: 170px 0;
    }
    .main-row-hero{
        flex-direction: row;
    }

    .hero-paragraph{
        text-align: left;
        margin-top: 0;
    }
}