.button-primary{
    background-color: var(--colorPrimary);
    color: #fff;
}

.button-bordered{
    background: none;
    border-radius: 100px;
    padding: 10px 18px;
    font-family: 'Montserrat';
    color: rgba(119, 126, 144, 1);
    border: 2px solid #E6E8EC;
}