form.contact{
    max-width: 400px;
}

form.contact input[type="text"]{
    border: none;
    border-bottom: 2px solid #eaeaea;
    padding: 12px 14px;
    outline: none;
    transition: .3s;
}

form.contact input[type="text"]:focus{
    border-bottom: 2px solid var(--colorPrimary);

}

form.contact label{
    color: var(--colorGray);
}

form.contact div{
    position: relative;
    display: flex;
}

form.contact div::after{
    content: '';
    width: 2%;
    margin: 0 auto;
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    z-index: 3;
    transition: .3s;
    opacity: 0;
    overflow-y: hidden;
}

.form-focus{
    opacity: 1;
    width: 100%;
}

#map{
    width: 100vw;
    height: 100vh;
 

}

@media screen and (min-width:768px) {
    #map{
        width: 30vw;
        height: 100vh;
        max-height: 500px;

    }
}