footer{
    background: rgba(35, 38, 47, 1);
}

footer hr{
    background: #fff;
    opacity: .1;
    margin: 50px 0;
}

form.subscribe-form input{
    background: rgb(55, 59, 66);
    padding: 10px 15px;
    border: none;
    outline: none;
    color: #fff;
    margin-right: 10px;
    border-radius: 9px;
}

form.subscribe-form button{
    padding: 10px 20px;
    border-radius: 9px;
}