
.hero-image .hero-slick-item{
    width: 94%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.slick-item1{
  
    background-image: url('../img/hero1.jpg');
}

.slick-item2{

    background-image: url('../img/hero2.jpg');
}
.slick-item3{

    background-image: url('../img/hero1.jpg');
}

.hero-image .slick-dots button , .evolving .slick-dots button{
  
    background: #eaeaea;
    border-radius: 6px;
    height: 4px;
    padding: 0;
}

.slick-dots{
    position: relative;
      margin-top: 20px;
    margin-bottom: 70px;
}

.hero-image .slick-dots li.slick-active button , .evolving .slick-dots li.slick-active button {
    background: var(--colorPrimary);
}
.hero-image .slick-dots button::before , .evolving .slick-dots button::before{
    content: '';
}
