:root{
    --colorPrimary : rgba(237, 28, 36, 1);
    --colorGray : #777E90;
}

a{
    text-decoration: none;
}

a:hover{
    color: unset;
}

html,body{
    overflow-x: hidden;
}


button{
    padding: 15px 37px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    outline: none;
    white-space: nowrap;
    width: fit-content;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 700;
}

.bg-none{
    background: none;
}

h1{
    font-size: 33px;
}

p{
    font-size: 1rem;
    font-family: 'Montserrat' sans-serif;
    font-weight: 400;
}

.special-margin{
    margin: 70px 0;
}

.container{
    padding: 0 20px;
}


@media screen and (min-width : 768px) {
    ::-webkit-scrollbar{
        display: none;
    }
    ::-webkit-scrollbar-thumb{
        width: 4px;
        background: rgb(194, 193, 193);
    }

    ::-webkit-scrollbar-track{
        background: none;
        display: none;
    }
    
    .special-margin{
        margin: 180px 0;
    }
    h1{
        font-size: 44px;
    }
}