.txt-primary{
    color: var(--colorPrimary);
}

.txt-bold{
    font-weight: 700;
}

.txt-normal-paragraph{
    font-size: 14px;
}

.txt-gray{
    color : var(--colorGray)
}

.txt-big{
    font-size: 24px;
}

.txt-medium{
    font-size: 18px;
}